<footer id="footer">
  <div class="container">
    <div class="about-block">
      <h2>About the Company</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="footer-r">
      <nav>
        <ul class="alt-nav">
          <li><a href="#">Features</a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Contact</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
        </ul>
      </nav>
      <p class="copy"><strong>Copyright 2012 Company Name.</strong></p>
    </div>
  </div>
</footer>
