<header id="header">
  <div class="header-t">
    <div class="container">
      <address><strong>Business Name.</strong> 123 Street Name. City, ST 12345. <span class="phone">Call <strong>123.456.7890 for more.</strong></span></address>
    </div>
  </div>
  <div class="header-b">
    <div class="container">
      <h1 class="logo">
        <a href="/"><%= image_tag('logo.png', :alt => 'image description', :height => 32, :width => 187) %></a>
      </h1>
      <nav>
        <ul id="nav">
          <li><a href="/railsthemes/landing">Sample Landing</a></li>
          <li><a href="/railsthemes/inner">Sample Interior</a></li>
          <li><a href="/railsthemes/jquery_ui">jQuery UI</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
